*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 75px;
}

img {
  width: 400px;
  display: block;
  margin: 0 auto;
}


/*  FILTER : appliquer un filtre à l'image */

.filtered-img {
  /* FLOU */
  filter: blur(5px);
  /* LUMINOSITE */
  filter : brightness(150%);
  /* CONTRASTE */
  filter : contrast(200%);
  /* NOIR ET BLANC */
  filter: grayscale();
  /* INVERSER COULEUR*/
  filter: invert();
  /* SEPIA */
  filter: sepia();
  /* AJOUTER UNE OMBRE */
  filter: drop-shadow(16px 16px 20px grey);

  /* AJOUT DE PLUSIEURS FILTRES */
  filter: blur(5px) grayscale() drop-shadow(16px 16px 20px grey);
}




  /* SVG PNG */

  /* Si on ajoute un DROPSHADOW sur un SVG ou PNG, l'ombre va suivre la forme de l'image */

  .png-sax {
    filter: drop-shadow(16px 16px 20px rgb(10, 9, 9));
  }
  .svg-sax {
    filter: drop-shadow(16px 16px 20px rgb(10, 9, 9));
  }
