/* Un pixel est un petit carré de votre écran renvoyant de la lumière. */
/* Ses dimensions sont propres à la qualité et la densité de chaque écran. */

body {
  background: #333;
}

.box {
  background-color: salmon;
  
  

                  /* WIDTH */
  
/* Un élément bloc prend l'entièreté de la largeur de son parent.
  Sa valeur est "auto" par defaut.
 Ici la box prendra 50% de la largeur du body */
  width: 50%;

  /* ici la largeur de pourra pas dépasser 600 px 
  Elle repassera en AUTO toute seule en cas de largeur inférieure*/
  max-width: 600px;




                  /* HEIGHT */

  /* Pour la hauteur par contre, on ne peut pas lui donner un %tage du body
  car le body à une hauteur de 0 */
  height: 200px;

  max-height: 600px;
  min-height: 2px;
  
}

/* VIEWPORT HEIGHT : HAUTEUR DE L'ECRAN */
.vh-test {

  /* 100% de la hauteur de l'écran */
  height: 100 vh;
}


.container {
  width: 400px;
  height: 400px;
  background: royalblue;
}

.child {
  height: 50px;
  background: green;
}

p {
  color: #f1f1f1;
  font-size: 24px;

  /* min-content = Largeur du contenu le plus grand (ici du mot le plus grand) */
  width: min-content;

  /* max-content = Longueur totale du contenu sans interuption. Ici la longueur totale de tous les mots. */
  width: max-content;
  
  /* fit-content = Utilise max-content si ça ne dépasse pas, sinon la largeur disponible, et au minimum min-content. */
  width: fit-content;

}