*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 150px;
}
.item {
  border: 1px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background: royalblue;
  font-weight: 900;
  color: #f1f1f1;
}

.grid {
  height: 800px; /* j'ai défini une hauteur à ma grille pour augmenter le contenu disponible */
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px;
  grid-gap: 5px;

                  /* DEPLACEMENT DE LA GRILLE */

  /* DEPLACER LA GRILLE SUR X */
  justify-content: center;
  /* DEPLACER LA GRILLE SUR Y */
  align-content: center;
}


                  /* DEPLACEMENT DES ITEMS DANS LA GRILLE */

/* Par défaut, les items dans une cellule prennent toute la place de cette dernière en hauteur et largeur
Mais je peux choisir de les placer précisement A L'INTERIEUR DE LEUR CELLULE*/

/* GERER TOUS LES ITEMS */
.item{
  justify-content: flex-end; 
  align-content: flex-end;
}

/* GERER LES ITEMS 1 par 1*/
.item-1 {
  /* Je peux leur définir une taille mais ce n'est PAS OBLIGATOIRE */
  width: 50px;
  height: 50px;
  justify-self: center;
  align-self: flex-end;
}
