.box {
    max-width: 400px;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto;

    /* BOX SHADOW */

    /* X, Y, FLOU, COULEUR*/
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);

    /* On peut ajouter un mot clef */
    box-shadow: 0 7px 10px inset rgba(0, 0, 0, 0.3);
}


    /* TEXT SHADOW */

h1 {
    font-size: 50px;
    color: #f1f1f1;
    text-shadow: 0 3px 1px rgba(5, 3, 3, 0.3);
}

 /* Il est aussi possible de faire des rendu 3D en ajoutant les ombres avec une "," */
 
h2 {
    font-size: 225px;
    font-weight: 800;
    text-shadow: 
    1px 1px #919191,
    2px 2px #919191,
    3px 3px #919191,
    4px 4px #919191,
    5px 5px #919191,
    6px 6px #919191,
    7px 7px #919191,
    8px 8px #919191,
    9px 9px #919191;
    /* 1px 18px 6px #2d2d2d66,
    1px 22px 10px #2d2d2d66,
    1px 25px 35px #2d2d2d66,
    1px 30px 60px #2d2d2d66; */
}

    /* OUTLINE : bordure qui apparait quand on focus un élément*/

input:focus {
    outline: 5px solid red;
}