*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 150px;
}

/* 
MAIN AXE : axe sur lequel les éléments vont s'aligner
CROSS AXE : axe secondaire 
Le main axe change en fonction de la direction (colonne ou rangée)*/
