/*////////////////   Design System CONFIG  ///////////////////*/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --light-orange: #f2d0a9ff;
  --almond: #f1e3d3ff;
  --crimson: #dc143cff;

  /* General */
  --dark-base: #222;
  --lighter-dark: #333;
  --gray: #858585;
  --light-gray: #d2d2d2;
  --light-white: #f1f1f1;

  /* Active */
  --active-almond: #feecd7;
  --active-light-white: #dedede;
  --active-crimson: #c51337;

  /* Fonts */
  --base-font: Raleway, sans-serif;
  --accent-font: Nunito sans, sans-serif;

  /* Font-size */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;

  /* shadows */
  --light-solid-shadow: 0 2px 0px #111111cc;
  --solid-shadow: 0 2px 0px #111;
  --shadow-sm: 0 2px 4px rgba(17, 17, 17, 0.502);
  --drop-shadow: 1px 1px 0px #1111114d;

  /* gradients */
  --striped-pinky: repeating-linear-gradient(
      135deg,
      rgba(106, 100, 100, 0.1) 0px,
      rgba(106, 100, 100, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to right, #f3cdcd, #f4e0bb);
  --light-orange-pinky: linear-gradient(to left, #fcd4d4, #f8d9a0);
  --dark-right: linear-gradient(to bottom right, #252525, #383838);
  --dark-left: linear-gradient(to bottom left, #252525, #383838);
  --radial-white-beige: radial-gradient(#f1f1f1, #f5f5dc);

  /* borders */
  --light-dark-border: 1px solid var(--lighter-dark);
  --dark-thick-border: 2px solid var(--lighter-dark);
}

/* ///////////////////////  CSS  /////////////////////// */

body {
  font-family: var(--base-font);
}

/* Header */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--light-orange);
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-16);
  font-family: var(--accent-font);
  font-weight: bold;
  margin: 0 7px;
  cursor: pointer;
}
.nav a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.hero-section-header {
  background-image: url("./ressources/hero-background-semi-dark.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
}

.hero-section-content {
  position: relative;
  padding-top: 150px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.hero-section-content h1 {
  font-size: var(--fs-72);
  font-weight: 900;
  color: var(--active-light-white);
  text-shadow: 0 5px 5px black;
}

.icon-header-buttons {
  width: 25px;
}

.hero-btn {
  font-size: var(--fs-16);
  text-transform: uppercase;
  width: 200px;
  height: 40px;
  border-radius: 50px;
  border: 0;
  margin: 20px 20px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 2px black;
}

.hero-btn span {
  margin-right: 15px;
}

.hero-btn-2 {
  background-color: #c51337;
  color: #dedede;
}

.hero-btn-1:hover {
  background-color: #f8d9a0;
}

.hero-btn-2:hover {
  background-color: brown;
}

/* MAIN */

main {
  background-image: var(--striped-pinky);
}

.card-container{
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--almond);
  color: #f1f1f1;
  border-radius: 25px;
  transform: translateY(-100px);
}

.card-container-title{
  text-align: center;
  color: #111;
  padding-top: 50px;
}

.cards {
  max-width: 825px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 10px 80px;
  
}

.sub-card {
  background-color: #111;
  max-width: 800px;
  align-self: center;
  display: flex;
  gap: 20px;
  
}
.sub-card img {
  width: 50%;
  padding: 25px;
}
.text-img {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.text-img button {
  margin-top: auto;
  min-width: 150px;
  align-self: flex-start;
}


/* PARALLAX */

.parallax {
  min-height: 275px;
  background-image: url(ressources/parallax-large-flou.jpg);
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}


.card-price {
  height: 1000px;
  background-color: #333
  ;
}

.japanese-text {
  font-size: var(--fs-64);
  line-height: 1.2;
}
.parallax-text {
  font-size: var(--fs-26);
}
@media (max-width: 600px) {
  .parallax {
    min-height: 200px;
  }
  .japanese-text {
    font-size: var(--fs-40);
  }
  .parallax-text {
    font-size: var(--fs-18);
  }
}
